DB_HOST=IP
DB_PORT=Port
DB_NAME=photo
DB_USER=postgres
DB_PASSWORD=password


AUTH_SECRET=uath_secret
AUTH_CODE_TTL_MINUTES=10
AUTH_SESSION_TTL_DAYS=30
AUTH_MAX_ATTEMPTS=5

SMTP_HOST=smtp.yandex.com
SMTP_PORT=465
SMTP_USER=user
SMTP_PASSWORD=password
SMTP_FROM=user@yandex.ru
SMTP_USE_TLS=false
SMTP_USE_SSL=true

UPLOAD_ROOT=foto